<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Mario Hernandez CV</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="menu col-xs-8">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h3>Mario Hernndez</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <h3>Designer in a lot of fields</br>
        Always looking for a new path</h3>
        <a href="#" class="btn btn-primary">My Work</a>
      </div>
    </div>
    <div class="footer">
      <div class="container">
      <p> Mario Hernndez - 2016</p>
        <a href="https://github.com/mariohernandezv"><img class="link"src="https://www.dropbox.com/s/yk5aow6erp85njy/social.png?raw=1"/></a>
        <a href="https://bitbucket.org/mariohernandezv/"><img class="link"src="https://www.dropbox.com/s/u5appki9u4w032f/bitbucket-logotype-camera-lens-in-perspective.png?raw=1"/></a>
        <a href="https://ec.linkedin.com/in/mario-omar-hernndez-b9877180"><img class="link"src="https://www.dropbox.com/s/e8e5f7k13a2amb0/linkedin-logo.png?raw=1"/></a>
      </div>
    </div>
  </body>
</HTML>